[Desktop Entry]
Name=Mozilla Firefox (firejailed)
Comment=Browse the World Wide Web
GenericName=Web Browser
X-GNOME-FullName=Mozilla Firefox
Exec=env MOZ_ENABLE_WAYLAND=1 /usr/bin/firejail /usr/local/bin/firefox %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/opt/firefox/browser/chrome/icons/default/default128.png
Categories=Network;WebBrowser;
StartupNotify=true
