[Desktop Entry]
Name=Mozilla Firefox
Comment=Browse the World Wide Web
GenericName=Web Browser
X-GNOME-FullName=Mozilla Firefox
Exec=/usr/local/bin/firefox %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/opt/firefox/browser/chrome/icons/default/default128.png
Categories=Network;WebBrowser;
StartupNotify=true